@import url('https://fonts.googleapis.com/css?family=Numans');
*{
	margin: 0;
}

main {
    height: 100vh;
}

html,body {
    color: aliceblue;
	/* background-color: #0f1724; */
	/* background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg'); */
	/* background-image: url('https://getwallpapers.com/wallpaper/full/1/b/d/35879.jpg'); */
	/* background-size: cover;
	background-repeat: no-repeat; */
	height: 100%;
	/* font-family: 'Numans', sans-serif; */
	font-family: 'Inter', sans-serif;

}

.line-clamp-4 {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.multi-line-cell {
	display: -webkit-box;
	-webkit-line-clamp: 4; /* max 4 lines */
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
}



